<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <a href="/logout">Logout</a>
    <div class="wrapper">
      {{#snippets}}
        <a href="/snippets/add?id={{ _id }}"><p>{{title}}</p></a>
      {{/snippets}}
      <form class="" action="/snippets/add" method="get">
        <button name="add"> + </button>
      </form>
    </div>
  </body>
</html>
