<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="nav">
  <a href="/logout">Logout</a>
  <form class="search" action="/search" method="get">
    <input class="search" type="text" name="mySnippets">
    <button>Search</button>
  </form>
  </div>

  <span> {{user.name}}'s Snippets </span>

  <div class="wrapper" id="snippets">
    {{#snippets}}
      <a href="/snippets/add?id={{ _id }}">
        <p class="title">{{title}}</p>
      </a>
    {{/snippets}}
    <form class="add" action="/snippets/add" method="get">
      <button class='addButton' name="add"> + </button>
    </form>
  </div>
</body>

</html>
