<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <div class="container">

          <h1>Login</h1>

          <form action="/login" method="post">
            <div class='row'>
              <div class='eight columns'>
                <input class='u-full-width' type="text" name="username" placeholder="Username" />
              </div>
            </div>
            <div class='row'>
              <div class='eight columns'>
                <input class='u-full-width' type="password" name="password" placeholder="Password" />
              </div>
            </div>
            <button>Login</button>
          </form>

          {{#if failed}}
          Login failed. <a href="/register">Not a member? Register here.</a>
          {{/if}}

          {{^if failed}}
          Not a user? <a href="/register">Create an account.</a>
          {{/if}}

    </div>

  </body>
</html>
