<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>

      <form action="/register" method="post">
        <div class='row'>
          <div class='eight columns'>
            <label for="Username">Username</label>
            <input class='u-full-width' type="text" name="username" />
          </div>
        </div>
        <div class='row'>
          <div class='eight columns'>
            <label for='Name'>Name</label>
            <input class='u-full-width' type="text" name="name" />
          </div>
        </div>
        <div class='row'>
          <div class='eight columns'>
            <label for='Email'>Email</label>
            <input class='u-full-width' type="text" name="email" />
          </div>
        </div>
        <div class='row'>
          <div class='eight columns'>
            <label for ='Password'>Password</label>
            <input class='u-full-width' type="password" name="password" />
          </div>
        </div>
        <button class="button-primary">Register</button>
      </form>

    </div>
  </body>
</html>
