/*======= UNIVERSAL =======*/

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: monospace;
  font-size: 18px;
  padding: 5px;
  color: #005E50;
  align-items: center;
}

button {
  color: white;
  background-color: #00B294;
  padding: 10px;
  margin: 5px 0;
}

.wrapper {
  width: 75%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-flow: column nowrap;
}

.addButton {
  margin-left: auto;
}

/*======= LOGIN ========*/

.login {
  font-weight: lighter;
  color: 005E50;
  background-color: #81E6D3;
  padding: 2%;
  box-shadow: 0 1px 4px #C1C1C1;

}

.login input {
  width: 500px;
  height: 26px;
  padding-top: 2%;
  margin: 5px 0;
}

/*====== HOME/SEARCH ========*/

.nav {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

#snippets {
  color: white;
  background-color: #81E6D3;
  padding: 5%;
  width: 80%;
  height: auto;
  margin-top: 10px;
}

#snippets a {
  margin: 10px 0;
  padding: 1px 10px;
  border: 3px solid #C2F2E9;
  text-decoration: none;
  color: white;
  background-color: #00B294;
}

#snippets a.hover {
  color: #C2F2E9;
}

#snippets a.active {
  color: #008272;
}

form.add button{
  background-color: #008272;
  width: 10%;
}

form.search input {
  width: 50%;
  height: 20px;
}

/*====== ADD/EDIT/DELETE ======*/

#addWrapper {
  width: 100%;
}

form.add {
  display: flex;
  flex-flow: column nowrap;
  background-color: #81E6D3;
  padding: 5%;
  width: 70%;
  margin-top: 5px;
}

input.add {
  width: 100%;
  height: 30px;
  margin: 5px 0;
}

input#body {
  height: 90px;
}

input#notes {
  height: 60px;
}

span.delete {
  margin: 3px 0;
  width: 12%;
  background-color: #00CEA6;
  border: 1px solid #00B294;
  padding: 1%;
}

span.delete a {
  color: white;
  text-decoration: none;
}
