body {
  display: flex;
  flex-flow: column nowrap;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-flow: column nowrap;
}

form {
  background-color: grey;
  padding: 10%;
  border-radius: 15px;
}
